<?xml version="1.0" encoding="UTF-8"?>
<config addruleprefix="Nicode\Component\FormStudio\Administrator\Rule" addfieldprefix="Nicode\Component\FormStudio\Administrator\Field">
  <fieldset name="search" label="COM_NICODE_FORM_STUDIO_SEARCH_PROVIDER">
    <field name="search_provider" type="searchprovider" label="COM_NICODE_FORM_STUDIO_SEARCH_PROVIDER" description="COM_NICODE_FORM_STUDIO_SEARCH_PROVIDER_HELP" default="sql" filter="string" />
  </fieldset>
  <fieldset name="storage" label="COM_NICODE_FORM_STUDIO_CONFIG_STORAGE">
    <field name="default_persistence" type="list" label="COM_NICODE_FORM_STUDIO_DEFAULT_PERSISTENCE" description="COM_NICODE_FORM_STUDIO_DEFAULT_PERSISTENCE_HELP" default="full" required="true" validate="options">
      <option value="full">COM_NICODE_FORM_STUDIO_CHOICE_FULL</option>
      <option value="metadata">COM_NICODE_FORM_STUDIO_CHOICE_METADATA</option>
      <option value="none">COM_NICODE_FORM_STUDIO_CHOICE_NONE</option>
    </field>
    <field name="storage_path" type="text" label="COM_NICODE_FORM_STUDIO_CONFIG_UPLOAD_PATH" description="COM_NICODE_FORM_STUDIO_CONFIG_PRIVATE_PATH_HELP" filter="string" validate="privatepath" />
    <field name="export_path" type="text" label="COM_NICODE_FORM_STUDIO_CONFIG_EXPORT_PATH" description="COM_NICODE_FORM_STUDIO_CONFIG_PRIVATE_PATH_HELP" filter="string" validate="privatepath" />
  </fieldset>
  <fieldset name="destinations" label="COM_NICODE_FORM_STUDIO_CONFIG_DESTINATIONS">
    <field name="webhook_hosts" type="textarea" label="COM_NICODE_FORM_STUDIO_CONFIG_WEBHOOK_HOSTS" description="COM_NICODE_FORM_STUDIO_CONFIG_HOSTS_HELP" filter="string" />
    <field name="redirect_hosts" type="textarea" label="COM_NICODE_FORM_STUDIO_CONFIG_REDIRECT_HOSTS" description="COM_NICODE_FORM_STUDIO_CONFIG_HOSTS_HELP" filter="string" />
  </fieldset>
  <fieldset name="captcha" label="COM_NICODE_FORM_STUDIO_CAPTCHA_MODE">
    <field name="captcha_mode" type="list" label="COM_NICODE_FORM_STUDIO_CONFIG_CAPTCHA_MODE" default="joomla"><option value="joomla">COM_NICODE_FORM_STUDIO_CONFIG_CAPTCHA_JOOMLA</option><option value="none">COM_NICODE_FORM_STUDIO_CONFIG_CAPTCHA_NONE</option></field>
    <field name="allow_no_captcha" type="radio" layout="joomla.form.field.radio.switcher" label="COM_NICODE_FORM_STUDIO_CONFIG_ALLOW_NO_CAPTCHA" default="1" filter="boolean"><option value="0">JNO</option><option value="1">JYES</option></field>
  </fieldset>
  <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"><field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" component="com_nicode_form_studio" section="component" /></fieldset>
  <fieldset name="logging" label="COM_NICODE_FORM_STUDIO_TECHNICAL_LOG">
    <field name="technical_debug" type="radio" layout="joomla.form.field.radio.switcher" label="COM_NICODE_FORM_STUDIO_LOG_DEBUG" default="0" filter="boolean"><option value="0">JNO</option><option value="1">JYES</option></field>
    <field name="technical_log_days" type="number" label="COM_NICODE_FORM_STUDIO_LOG_DAYS" default="30" min="1" max="3650" filter="integer" validate="number" />
    <field name="audit_log_days" type="number" label="COM_NICODE_FORM_STUDIO_AUDIT_DAYS" description="COM_NICODE_FORM_STUDIO_HISTORY_DAYS_HELP" default="0" min="0" max="3650" filter="integer" validate="number" />
    <field name="action_history_days" type="number" label="COM_NICODE_FORM_STUDIO_ACTION_HISTORY_DAYS" description="COM_NICODE_FORM_STUDIO_ACTION_HISTORY_DAYS_HELP" default="0" min="0" max="3650" filter="integer" validate="number" />
  </fieldset>
</config>
